@page
@model PL_452490_P2.Pages.Weapon.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].WeaponOwners)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].WeaponType)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Weapon) {
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponOwners)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponType)
            </td>
        
        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
